<h1>Here is the information for <%= @recipe.name %></h1>
<br>
<br>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <label for="ingredient_add">Add an ingredient, sucker.</label>
  <input type="text" name="ingredient" placeholder="Salt">
  <button type="submit">Add Ingredient</button>

</form>
<div class= "ingredients">
  <h2>Ingredients</h2>
  <ul>
  <% @ingredient.each do |ingredient| %>
  <a href="/ingredients/<%= ingredient.id %>/delete"></a>
    <li><%= ingredient.name %><br>
      <form action="/ingredients/<%= ingredient.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" id="ingredient_id" name="ingredient_id" value="<%= ingredient.id %>">
        <button class="btn btn-danger btn-sm" type="submit">Delete</button>
      </form>
    </li>
    <% end %>

  </ul>
</div>





<form action='/recipes/<%= @recipe.id %>/update' method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="instructions">Instructions</label>
    <input type="text" name="instructions" class='form-control' value="">
    <button class="submit">Add instructions</button>
</form>

<div class= "instructions">
  <h2>Instructions</h2>
  <% if @recipe.instructions %>
  <ol>
    <li><%= @recipe.instructions %><br></li>
  </ol>
  <% else %>
    <li>No instructions given</li>
  <% end %>
</div>

<ul>
  <% @categories.each do |tag| %>
  <li><%= tag.tags %></li>
  <% end %>
</ul>


<a href="/tags_add">Add tags</a>
<a href="/recipes">Back</a>
<a href="/">Home</a>
